/**Variables**/
:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-text: #fffcfa;
    --color-alternativeOne: #f2f2f2;
    --color-hover: #e07a5f;
    --color-semiBlack: #212227;
    --color-semiBlack2: #222831;
    --font-Spinnaker: "Spinnaker", sans-serif;
    --font-Sacramento: "Sacramento", cursive;
    --font-titulos: "Raleway", sans-serif;
    --font-contenidos: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Globales */
html {
    font-size: 62.5%;
}
body {
    font-weight: 500;
    font-family: var(--font-contenidos);
    background-color: var(--color-primary);
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-titulos);
}
.contenedor {
    margin: 0 auto;
}
/* Utilidades */
.wd-85 {
    width: 85%;
}

.clk {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.wd-75 {
    width: 75%;
}
.btn-orng {
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}
.btn-orng:hover {
    background-color: var(--color-hover);
    transition: all 0.2s ease-in-out;
    color: var(--color-primary);
}
.btn-black{
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--color-primary);
    background-color: black;
    text-decoration: none;
    font-size: 1.4rem;
}
.btn-black:hover{
    background-color: var(--color-hover);
    transition: all 0.2s ease-in-out;
    color: var(--color-primary);
}
.center{
    text-align: center;
}

.title{
    font-size: 2.5rem;
}
/* Header */
header{
    background-color: var(--color-secondary);
}
.inicio {
    /* background-color: var(--color-secondary); */
    background-image: url(../img/bg-black.jpg);
}
.header-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 18px;
}

.header-inicio a {
    text-decoration: none;
    color: var(--color-primary);
}

.header-inicio h2 {
    font-weight: 300;
    font-size: 36px;
}

.header-navbar img {
    max-width: 100px;
}

.header-sects ul {
    display: flex;
}

.header-sects li {
    list-style: none;
    margin-right: 80px;
}

.header-sects li:last-child {
    margin-right: 0;
}

.header-sects a {
    text-decoration: none;
    color: var(--color-primary);
}

.header-sects li a:hover {
    color: var(--color-hover);
    transition: all 0.2s ease-in-out;
}

.acceso-pagina ul {
    display: flex;
}

.acceso-pagina li {
    list-style: none;
    margin-right: 20px;
}

.acceso-pagina li:last-child {
    margin-right: 0;
}

.acceso-pagina a {
    text-decoration: none;
}

.inicia {
    color: var(--color-primary);
}

.inicia:hover {
    color: var(--color-hover);
    transition: all 0.2s ease-in-out;
}

.header-social-media {
    background-color: var(--color-semiBlack);
}

.header-social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-social-media li {
    list-style: none;
    margin: 15px 120px;
}

.header-social-media img {
    width: 80px;
}

.header-contenido {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.header-contenido img {
    width: 500px;
    justify-self: center;
}

.header-texto {
    color: var(--color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.header-texto h1 {
    font-size: 120px;
    font-weight: 400;
    font-family: var(--font-Sacramento);
}

.header-texto h3 {
    text-align: center;
    font-size: 30px;
}

.header-texto a {
    text-decoration: none;
    align-self: center;
    margin-top: 80px;
    font-size: 16px;
}

/** Un poco de Dham **/
.about-dham {
    padding: 120px 0;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.about-dham img {
    width: 600px;
}

.about-img {
    background-image: url(../img/cover1.jfif);
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: initial;
}

.contenido-about {
    display: flex;
    background-color: var(--color-alternativeOne);
}

.texto-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.texto-about h2 {
    font-size: 40px;
    color: var(--color-white);
    margin-top: 40px;
}

.texto-about p {
    line-height: 2;
    font-size: 20px;
    margin: 20px 0;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid #000;
    gap: 80px 60px;
    padding: 30px 20px;
    margin: 40px 0;
}

.info-box h3 {
    font-size: 24px;
}

.info-box p {
    line-height: 1.5;
}

/** Porque entrenar conmigo? **/
.porque-dham {
    color: var(--color-primary);
}

.porque-contenido {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background-color: #000;
}

.porque-texto {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 120px 80px;
    width: 40%;
}

.porque-texto h2 {
    font-size: 40px;
    margin: 40px 0;
}

.porque-texto p {
    line-height: 2;
    margin-bottom: 40px;
    font-size: 16px;
}

.porque-texto a {
    text-decoration: none;
    align-self: flex-start;
    font-size: 16px;
    padding: 15px 60px;
}

.porque-contenido img {
    width: 600px;
}

.porque-img {
    background-image: url(../img/cover2.jpg);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}

/* Testimoniales */
.testimoniales {
    padding: 120px 0;
}

.testim-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testim-titulo {
    font-size: 36px;
}

.testim-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    flex-direction: column;
    width: 80%;
}

.carta-ind {
    padding: 16px;
    margin: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #bbb;
}

.testim-cards h3 {
    font-size: 28px;
    margin-top: 30px;
    font-weight: 300;
}

.testim-cards h4 {
    font-size: 24px;
    font-weight: 300;
}

.carta-test p {
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
}

.carta-test img {
    border-radius: 50%;
    width: 200px;
    margin: 0 40px;
}

.carta-test {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin-bottom: 20px;
}

.carta-ind:last-child {
    border-bottom: 0;
}

.carta-info-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 20px;
}

/** Instagram Section **/
.insta-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.insta-titulo {
    font-size: 36px;
}

.insta-pictures {
    margin: 40px 0;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
}

.insta-pictures div {
    width: 300px;
    overflow: hidden;
    position: relative;
}

.insta-pictures img {
    transition: all 0.5s ease-in-out;
}

.insta-pictures img:hover {
    transform: scale(1.2) rotate(5deg);
}

/*  Footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-semiBlack2);
}

.contenido-footer {
    background-color: var(--color-blue5);
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex-direction: column;
    font-size: 14px;
}

.first-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 40px;
}

.first-footer h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 40px;
}

.social-media a {
    margin-right: 20px;
}

.social-media a:last-child {
    margin-right: 0;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-info a {
    text-decoration: none;
}

.copyright {
    padding: 20px 0;
}

/**Planes**/

.planes_info {
    margin: 40px auto;
    text-align: center;
}
.planes_info h2{
    font-size: 3.8rem;
    margin-bottom: 20px;
}

.planes_info p {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-family: var(--font-contenidos);
}
.planes_details {
    margin: 30px auto;
    border: 2px solid #c4c4c4;
    width: 65%;
}
.planes_details_image {
    flex: 1 0 calc(70% - 2rem);
}
.planes_details_image img{
    height: 100%;
    width: 100%
    
}
.planes_details_info {
    padding: 25px;
}
.planes_details_info h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.planes_details_info p {
    line-height: 1.5;
    margin-bottom: -21px;
    font-size: 1.2rem;
    font-family: var(--font-contenidos);
    text-align: justify;
}
.planes_details_info hr{
    width: 100%;
    background-color: gray;
    height: 2px;
    margin-bottom: 25px;
}
.info{
    text-align: left;
    font-family: var(--font-contenidos);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.info h4{
    font-size:  1.5rem;
    margin-bottom: 10px;
}
.info ul li{
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-family: var(--font-contenidos);
}
.precio{
    font-weight: bold;
    font-size: 2rem;
}
.costo{
    font-size: 1.6rem;
    margin: 10px 0; 
}
