/**Variables**/
:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-text: #fffcfa;
    --color-alternativeOne: #f2f2f2;
    --color-hover: #e07a5f;
    --font-Spinnaker: "Spinnaker", sans-serif;
    --font-Sacramento: "Sacramento", cursive;
    --font-titulos: "Patua One", cursive;
    --font-contenidos: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Globales */
html {
    font-size: 62.5%;
}
body {
    font-weight: 500;
    font-family: var(--font-contenidos);
    background-color: var(--color-primary);
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-titulos);
}
.contenedor {
    margin: 0 auto;
}
/* Utilidades */
.wd-85 {
    width: 85%;
}

.clk {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.wd-75 {
    width: 75%;
}

.btn-orng {
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.btn-orng:hover {
    background-color: var(--color-hover);
    transition: all 0.2s ease-in-out;
    color: var(--color-primary);
}
/* Header */
header {
    /* background-color: var(--color-secondary); */
    background-image: url(../img/bg-black.jpg);
}

.header-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 18px;
}

.header-inicio a {
    text-decoration: none;
    color: var(--color-primary);
}

.header-inicio h2 {
    font-weight: 300;
    font-size: 36px;
}

.header-navbar img {
    max-width: 100px;
}

.header-sects ul {
    display: flex;
}

.header-sects li {
    list-style: none;
    margin-right: 80px;
}

.header-sects li:last-child {
    margin-right: 0;
}

.header-sects a {
    text-decoration: none;
    color: var(--color-primary);
}

.header-sects li a:hover {
    color: var(--color-hover);
    transition: all 0.2s ease-in-out;
}

.acceso-pagina ul {
    display: flex;
}

.acceso-pagina li {
    list-style: none;
    margin-right: 20px;
}

.acceso-pagina li:last-child {
    margin-right: 0;
}

.acceso-pagina a {
    text-decoration: none;
}

.inicia {
    color: var(--color-primary);
}

.inicia:hover {
    color: var(--color-hover);
    transition: all 0.2s ease-in-out;
}

.isSelected {
    color: var(--color-hover);
}

.header-contenido {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.header-contenido img {
    width: 650px;
    justify-self: center;
}

.header-texto {
    color: var(--color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.header-texto h1 {
    font-size: 120px;
    font-weight: 400;
    font-family: var(--font-Sacramento);
}

.header-texto h3 {
    text-align: center;
    font-size: 30px;
}

.header-texto a {
    text-decoration: none;
    align-self: center;
    margin-top: 80px;
    font-size: 16px;
}

/** Un poco de Dham **/
.about-dham {
    padding: 120px 0;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.about-dham img {
    width: 550px;
}

.about-img {
    background-image: url(../img/bg-white.jpg);
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contenido-about {
    display: flex;
    background-color: var(--color-alternativeOne);
}

.texto-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.texto-about h2 {
    font-size: 40px;
    color: var(--color-white);
    margin-top: 40px;
}

.texto-about p {
    line-height: 2;
    font-size: 16px;
    margin: 20px 0;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid #000;
    column-gap: 40px;
    padding: 40px 20px;
    margin-top: 20px;
}

.info-box h3 {
    font-size: 24px;
}

.info-box p {
}

/** Porque entrenar conmigo? **/
.porque-dham {
    color: var(--color-primary);
}

.porque-contenido {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background-color: #000;
}

.porque-texto {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 120px 80px;
    width: 40%;
}

.porque-texto h2 {
    font-size: 40px;
    margin: 40px 0;
}

.porque-texto p {
    line-height: 2;
    margin-bottom: 40px;
    font-size: 16px;
}

.porque-texto a {
    text-decoration: none;
    align-self: flex-start;
    font-size: 16px;
    padding: 15px 60px;
}

.porque-contenido img {
    width: 550px;
}

.porque-img {
    background-image: url(../img/bg-rose.jpg);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimoniales */

/*  Footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.contenido-footer {
    background-color: var(--color-blue5);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex-direction: column;
    font-size: 14px;
}

.social-media {
    margin-top: 30px;
}

.social-media li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 40px;
}

.social-media a {
    margin-right: 20px;
}

.social-media a:last-child {
    margin-right: 0;
}

.footer-email {
    margin-top: 40px;
}

.copyright {
    margin: 20px 0;
}
