/**Variables**/
:root {
    --color-primary: #35a3c4;
    --color-secondary: #ff8800;
    --color-white: #fff8f5;
    --font-Spinnaker: "Spinnaker", sans-serif;
    --font-Sacramento: "Sacramento", cursive;
    --color-blue1: #273369;
    --color-blue2: #7984b5;
    --color-blue3: #8290d1;
    --color-blue4: #dee4ff;
    --color-blue5: #5163b3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Globales */
html {
    font-size: 62.5%;
}
body {
    font-weight: 500;
    font-family: var(--font-Spinnaker);
    background-color: var(--color-blue1);
}

img {
    max-width: 100%;
    display: block;
}
.contenedor {
    margin: 0 auto;
}
/* Utilidades */
.wd-85 {
    width: 85%;
}

.clk {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.wd-75 {
    width: 75%;
}

.nth {
    border-bottom: 0;
}

/* Header */
.header-navbar {
    background-color: var(--color-blue1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.header-navbar img {
    max-width: 100px;
}
.header-navbar ul {
    display: flex;
}
.header-navbar li {
    list-style: none;
    margin-right: 80px;
}
.header-navbar li:last-child {
    margin-right: 0;
}
.header-navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}
.header-navbar li a:hover {
    border-bottom: 2px solid var(--color-secondary);
}
.isSelected {
    border-bottom: 2px solid var(--color-secondary);
}
.header-texto h1 {
    font-family: var(--font-Sacramento);
    font-size: 80px;
}
.info-contact {
    display: flex;
}
.info-contact img {
    margin-right: 30px;
}
.info-contact img:last-child {
    margin-right: 0;
}
/***Hero***/
.header-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-blue1);
}

.header-contenido img {
    width: 550px;
    margin-right: 120px;
}

.header-texto {
    color: var(--color-white);
    margin-left: 120px;
}
.header-texto h1 {
    font-size: 10rem;
    font-weight: 400;
}
.header-texto h3 {
    text-align: center;
    font-size: 2.4rem;
}

/**Main**/

/** About Dham **/
.about-dham {
    background-color: var(--color-blue2);
    text-align: center;
}
.about-dham img {
    max-width: 450px;
    max-height: 600px;
}

.about-dham h2 {
    font-size: 28px;
    text-align: center;
    padding: 20px;
    color: var(--color-white);
    padding: 40px 0;
}

.about-dham p {
    line-height: 5rem;
    margin-bottom: 40px;
    font-size: 16px;
    color: var(--color-white);
}

/** Porque Dham **/
.porque-dham {
    background-color: var(--color-blue3);
    text-align: center;
}

.porque-dham img {
    max-width: 450px;
    max-height: 600px;
}

.porque-dham h2 {
    font-size: 28px;
    text-align: center;
    padding: 20px;
    color: var(--color-white);
    padding: 40px 0;
}

.porque-dham p {
    line-height: 5rem;
    margin-bottom: 40px;
    font-size: 16px;
    color: var(--color-white);
}
/* Form Tell Us */
.form-dham {
    background-color: var(--color-blue4);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    display: flex;
}

.form-dham h2 {
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
}

.form {
    margin: 50px auto;
    display: flex;
}

.form h3 {
    font-weight: 500;
    font-size: 16px;
}

.form ul {
    list-style: none;
    width: 100%;
}
.form li {
    display: grid;
    margin: 20px 30px;
    grid-template-columns: 1fr 1fr;
}

.field-style {
    padding: 8px;
    border-bottom: 2px solid var(--color-primary);
    width: 90%;
}

.form textarea {
    width: 100%;
    height: 100px;
    background-color: var(--color-blue4);
}

.form input {
    background-color: var(--color-blue4);
    font-family: var(--font-Spinnaker);
    font-size: 24px;
    grid-column: 2 / 3;
    justify-self: flex-end;
    margin-top: 20px;
}

.input-onec {
    grid-column: 1 / 3;
}

/*  Footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenido-footer {
    background-color: var(--color-blue5);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex-direction: column;
    font-size: 14px;
}

.social-media {
    margin-top: 30px;
}

.social-media li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 40px;
}

.social-media a {
    margin-right: 20px;
}

.social-media a:last-child {
    margin-right: 0;
}

.footer-email {
    margin-top: 40px;
}

.copyright {
    margin: 20px 0;
}
